<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>{{cssStyle}}</style>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">
              <img src="bluemoon.png" width="300" height="50" class="d-inline-block align-top" alt="bluemoon">

            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>

              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/portfolio">My Portfolio <span class="sr-only">(current)</span></a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/watchlist">My Watchlist</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/marketnews">Market News</a>
            </li>


              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>

              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <!--we have to change color & height of row, column and card according to our requirment. I have included these color and height for working purpose. Final things will be different.-->
          {{{body}}}





<script src="scripts/{{script}}" type="text/javascript" charset="utf-8"></script>

<script src="scripts/{{jqcdn}}" type="text/javascript" charset="utf-8"></script>

      </body>
</html>
